<!DOCTYPE html>
<html>
<head>
  <title>MyFuel</title>
</head>
<body>
<h1>O stronie</h1>
<p>Kalkulator norm spalania paliwa stworzony za pomocą języka Ruby.</p>
<p>© 2023 Dexter's Laboratory.</p>
</body>
</html>
