<!DOCTYPE html>
<html>
<head>
  <title>MyFuel</title>
</head>
<body>
  <h1>Wyszukaj pojazd</h1>

  <% if @error_message %>
    <p><%= @error_message %></p>
  <% end %>

  <form action="/submit" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>

    <input type="submit" value="Szukaj">
  </form>

    <h1>Dodaj wyjazd</h1>


  <form action="/wyjazd" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>
    <label for="data_wyjazdu">Data wyjazdu:</label>
    <input type="text" id="data_wyjazdu" name="data_wyjazdu" required><br><br>
    <label for="km_wyjazd">Stan licznika:</label>
    <input type="text" id="km_wyjazd" name="km_wyjazd" required><br><br>
    <label for="paliwo_wyjazd">Stan paliwa podczas wyjazdu:</label>
    <input type="text" id="paliwo_wyjazd" name="paliwo_wyjazd" required><br><br>

    <input type="submit" value="Dodaj wyjazd">
  </form>


    <h1>Dodaj tankowanie</h1>
    <form action="/tankowanie" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>
    <label for="data_tankowania">Data tankowania:</label>
    <input type="text" id="data_tankowania" name="data_tankowania" required><br><br>
    <label for="paliwo_dodatkowo">Ilość zatankowanego paliwa:</label>
    <input type="text" id="paliwo_dodatkowo" name="paliwo_dodatkowo" required><br><br>

    <input type="submit" value="Dodaj tankowanie">
  </form>

      <h1>Dodaj zjazd</h1>
    <form action="/zjazd" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>
    <label for="data_zjazdu">Data zjazdu:</label>
    <input type="text" id="data_zjazdu" name="data_zjazdu" required><br><br>
    <label for="km_powrot">Stan licznika:</label>
    <input type="text" id="km_powrot" name="km_powrot" required><br><br>
    <label for="paliwo_zjazd">Stan paliwa po powrocie:</label>
    <input type="text" id="paliwo_zjazd" name="paliwo_zjazd" required><br><br>

    <input type="submit" value="Dodaj zjazd">
  </form>

</body>
</html>