<!DOCTYPE html>
<html>
<head>
  <title>Strzałka w lewą stronę</title>
  <style>

    .arrow {
      font-size: 80px;
      line-height: 0.3;
    }
  </style>
</head>
<body>
<h1>Witaj w k`alkulatorze norm spalania</h1>
  <h2>Wybierz polecenie po lewej</h2>

    <% if @message %>
      <p><%= @message %></p>
    <% end %>

<div class="arrow">&#8592;</div>

</body>
</html>