<!DOCTYPE html>
<html>
<head>
  <title>MyFuel</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: "Roboto Mono", monospace;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .header {
      border: 2px solid;
      text-align: center;
      padding: 10px;
      margin: 10px;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
    }

    .container {
      flex: 1;
      display: flex;
      margin: 10px;
    }

    .sidebar {
      width: 10%;
      border: 2px solid;
      padding: 10px;
    }

    .content {
      flex: 1;
      border: 2px solid;
      padding: 10px;
      margin-left: 10px;
    }

    .footer {
      border: 2px solid;
      text-align: center;
      padding: 10px;
      margin: 10px;
      margin-top: auto;
    }
  </style>
</head>
<body>
  <div class="header">
    <div class="logo">MyFuel</div>
  </div>

  <div class="container">
    <div class="sidebar">
 <form action="/szukaj" method="get">
    <p><a href="/szukaj">Szukaj danych dla pojazdu</a></p>
  </form>

  <form action="/wyjazd_formularz" method="get">
    <p><a href="/wyjazd_formularz">Dodaj wyjazd</a></p>
  </form>

  <form action="/tankowanie_formularz" method="get">
    <p><a href="/tankowanie_formularz">Dodaj tankowanie</a></p>
  </form>

  <form action="/zjazd_formularz" method="get">
    <p><a href="/zjazd_formularz">Dodaj powrót na bazę</a></p>
  </form>

    <form action="/trasa_formularz" method="get">
    <p><a href="/trasa_formularz">Dodaj całą trasę</a></p>
  </form>

  <form action="/lista_plikow" method="get">
    <p><a href="/lista_plikow">Przejdź do listy raportów</a></p>
  </form>

  <form action="/about" method="get">
    <p><a href="/about">O stronie</a></p>
  </form>
    </div>

    <div class="content">
  <%= yield %>
    </div>
  </div>

  <div class="footer">
    <p><a href="/">&copy; 2023 Dexter's Laboratory.</a></p>
  </div>
</body>
</html>
