<h1>Wyszukaj pojazd</h1>

  <% if @error_message %>
    <p><%= @error_message %></p>
  <% end %>

  <form action="/szukaj" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>

    <input type="submit" style="font-family: Roboto Mono, monospace;" value="Szukaj">
  </form>

<h1>Lista dostępnych raportów</h1>

<ul>
  <% @nazwy_plikow.each do |plik, nazwa_pliku| %>
    <li><a href="/pobierz_zawartosc?plik=<%= plik %>"><%= nazwa_pliku %></a></li>
  <% end %>
</ul>
