<h1>Dodaj całą trasę</h1>

  <form action="/cala_trasa" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>
    <label for="data_wyjazdu">Data wyjazdu:</label>
    <input type="text" id="data_wyjazdu" name="data_wyjazdu" required><br><br>
    <label for="km_wyjazd">Stan licznika:</label>
    <input type="text" id="km_wyjazd" name="km_wyjazd" required><br><br>
    <label for="paliwo_wyjazd">Stan paliwa podczas wyjazdu:</label>
    <input type="text" id="paliwo_wyjazd" name="paliwo_wyjazd" required><br><br>
    <label for="data_tankowania">Data tankowania:</label>
    <input type="text" id="data_tankowania" name="data_tankowania" required><br><br>
    <div id="paliwo_fields">
   <label for="paliwo_dodatkowo">Ilość zatankowanego paliwa:</label>
   <input type="number" step="0.01" id="paliwo_dodatkowo" name="paliwo_dodatkowo[]" required><br><br>
    </div>
    <label for="data_zjazdu">Data zjazdu:</label>
    <input type="text" id="data_zjazdu" name="data_zjazdu" required><br><br>
    <label for="km_powrot">Stan licznika:</label>
    <input type="text" id="km_powrot" name="km_powrot" required><br><br>
    <label for="paliwo_zjazd">Stan paliwa po powrocie:</label>
    <input type="text" id="paliwo_zjazd" name="paliwo_zjazd" required><br><br>

    <input type="button" onclick="addPaliwoField()" style="font-family: Roboto Mono, monospace;" value="Dodaj kolejną wartość paliwa"><br><br>

    <input type="submit" style="font-family: Roboto Mono, monospace;" value="Dodaj trasę">
  </form>

<script>
  function addPaliwoField() {
    var paliwoContainer = document.getElementById("paliwo_fields");
    var newField = document.createElement("div");
    newField.innerHTML = '<label for="paliwo_dodatkowo">Ilość zatankowanego paliwa: </label>' + '<input type="number" step="0.01" id="paliwo_dodatkowo" name="paliwo_dodatkowo[]" required><br><br>';
    paliwoContainer.appendChild(newField);
  }
</script>