<!DOCTYPE html>
<html>
<head>
  <title>MyFuel</title>
</head>
<body>
    <h1>Dodaj wyjazd</h1>

  <form action="/wyjazd" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>
    <label for="data_wyjazdu">Data wyjazdu:</label>
    <input type="text" id="data_wyjazdu" name="data_wyjazdu" required><br><br>
    <label for="km_wyjazd">Stan licznika:</label>
    <input type="text" id="km_wyjazd" name="km_wyjazd" required><br><br>
    <label for="paliwo_wyjazd">Stan paliwa podczas wyjazdu:</label>
    <input type="text" id="paliwo_wyjazd" name="paliwo_wyjazd" required><br><br>

    <input type="submit" style="font-family: Roboto Mono, monospace;" value="Dodaj wyjazd">
  </form>
</body>
</html>