<style>
  table {
    border-collapse: collapse;
    width: 50%;
  }

  th,
  td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .five-cols {
    column-count: 5;
  }
</style>

<h1>Dane z raportu <%= @nazwa_pliku %></h1>

<table>
  <tbody>
    <% @item.each do |row| %>
      <tr class="five-cols">
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<form action="/usun_ostatni_wiersz" method="post">
  <input type="hidden" name="plik" value="<%= @plik %>">
  <button type="submit" style="font-family: Roboto Mono, monospace;">Usuń ostatni wiersz</button>
</form>

<br>

<form action="/potwierdzenie_usuniecia" method="post">
  <input type="hidden" name="plik" value="<%= @plik %>">
  <button type="submit" style="font-family: Roboto Mono, monospace;">Usuń raport</button>
</form>

<br>

<form action="/szukaj" method="get">
  <button type="submit" style="font-family: Roboto Mono, monospace;">Powrót</button>
</form>