<h1>Dane z pliku CSV <%= @plik %></h1>

<table>
  <tbody>
    <% @item.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
