<h1>Dodaj zjazd</h1>
  <form action="/zjazd" method="post">
    <label for="numer_pojazdu">Numer rejestracyjny:</label>
    <input type="text" id="numer_pojazdu" name="numer_pojazdu" required><br><br>
    <label for="data_zjazdu">Data zjazdu:</label>
    <input type="text" id="data_zjazdu" name="data_zjazdu" required><br><br>
    <label for="km_powrot">Stan licznika:</label>
    <input type="text" id="km_powrot" name="km_powrot" required><br><br>
    <label for="paliwo_zjazd">Stan paliwa po powrocie:</label>
    <input type="text" id="paliwo_zjazd" name="paliwo_zjazd" required><br><br>

    <input type="submit" value="Dodaj zjazd">
  </form>